/* Tutorials.css */

/* Container for the tutorials with border */
.tutorials-container {
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #e5e5e5; /* Light gray border */
    border-radius: 8px;
  }
  
  /* Tutorial list styling */
  .tutorial-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  /* Individual tutorial item styling */
  .tutorial-item {
    background-color: #fff; /* White background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }
  
  /* Thumbnail styling */
  .tutorial-item img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust the maximum height of the image */
    border-top-left-radius: 8px; /* Rounded corners for the image */
    border-top-right-radius: 8px;
  }
  
  /* Tutorial info styling */
  .tutorial-info {
    padding: 10px;
  }
  
  /* Tutorial title styling */
  .tutorial-info h3 {
    margin: 0;
    color: #333; /* Dark gray text */
  }
  
  /* Reading time and upload date styling */
  .tutorial-info p {
    margin: 5px 0;
    color: #666; /* Light gray text */
  }
  
  /* Link styling */
  .tutorial-item a {
    text-decoration: none;
    color: #00707c; /* Teal color */
  }
  